


/* modern  */
.modern-container {
  height: 750px;
  background-color: rgb(252, 252, 252);
}






body {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
  background-color: #FFFFFF;
  
}


/* .homey {
   height: 100%;
   margin: 0;
   font: 400 15px/1.8 "Lato", sans-serif;
   color: #777;
 
 } */

#box1{
   height: 100vh;
   width: 100%;
   background-image: url(https://images.unsplash.com/photo-1514466079202-94a24bf354ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1317&q=80);
   background-size: cover;
   display: table;
   background-attachment: fixed;
}
#box2{
   height: 100vh;
   width: 100%;
   background-image: url(https://images.unsplash.com/photo-1494279844912-8aca7c106591?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
   background-size: cover;
   display: table;
   background-attachment: fixed;
}
#box3{
   height: 100vh;
   width: 100%;
   background-image: url(https://images.unsplash.com/photo-1543781656-5669752a3fc6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);
   background-size: cover;
   display: table;
   background-attachment: fixed;
}
#box4{
   height: 100vh;
   width: 100%;
   background-image: url(https://images.pexels.com/photos/1423035/pexels-photo-1423035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
   background-size: cover;
   display: table;
   background-attachment: fixed;
}
/* #box5{
  height: 100vh;
  width: 100%;
  background-image: url(https://cdn.trendhunterstatic.com/thumbs/geometric-furniture-designs.jpeg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
} */
#box6{
  height: 50vh;
  width: 100%;
  background-image: url(https://4.bp.blogspot.com/-GpvwI8L6Bgw/WvBJoWnk9MI/AAAAAAAGRqs/DWFaJdoaYBkNQhaELHd325h5f9gtQEx-ACLcBGAs/s1600/The%2BYose-gi%2BStool%2Bby%2Bdesigner%2BYoshiaki%2BIto%252C%2Ba%2Bpiece%2Binspired%2Bby%2Ba%2Btraditional%2BJapanese%2BShinto%2Bkumi-ki%2Bpuzzle-1.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}
h1{
   font-family: arial black;
   font-size: 50px;
   color:white;
   margin: 0px;
   text-align: center;
   display: table-cell;
   vertical-align: middle;
}

/* text */
/* @import url('https://fonts.googleapis.com/css?family=Paytone+One'); */
h2 {
   /* margin: 20px; */
   font-family: "Paytone One";
   color: #D8B830;
   text-transform: uppercase;
   letter-spacing: -2px;
 }
 
 h2 span {
   display: block;
   text-align: center;
   margin: 11px 0 17px 0;
   font-size: 80px;
   line-height: 80px;
   color: #C0C0C0;
   text-shadow: 0 13.36px 8.896px #a7a6a6,0 -2px 1px rgb(122, 120, 120);
   letter-spacing: -4px;
 }


 @import url('https://fonts.googleapis.com/css?family=Dancing+Script');
 .happy{
    text-align: center;
    /* font-family: 'Dancing Script', cursive; */
    text-transform: lowercase;
    
 }
 .master{
   text-align: center;
   /* font-family: 'Dancing Script', cursive; */
   text-transform: lowercase;
   font-family: "Paytone One";
   color: #C0C0C0;
   text-transform: uppercase;
   letter-spacing: -2px;
 }


 /* button  */
 .btn {
    text-align: center;
   padding: 20px 30px;
   font-size: 40px;
   cursor: pointer;
   position: relative;
   border: 2px solid rgb(255, 255, 255);
   outline: none;
   color: white;
   background-color: transparent;
   margin: 40px;
   font-family: 'Merriweather', serif;
   white-space: nowrap; 
   

   
/* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;  */
 text-align: center;
align-items: center;
 }
 .btn--border::after, .btn--border::before, .btn--border span::after, .btn--border span::before {
   content: "";
   position: absolute;
   background-color: white;
   transition: 0.5s ease;
   border:  rgb(7, 7, 7);
   
 }
 .btn--future::after, .btn--future::before {
   content: "";
   position: absolute;
   border: 2px solid rgb(255, 255, 255);
   width: calc(100% + 15px);
   height: 60px;
   transition: 0.5s ease;
 }
 .btn--future::after {
   top: -15px;
   left: -15px;
   border-right: none;
   border-bottom: none;
 }
 .btn--future::before {
   bottom: -15px;
   right: -15px;
   border-left: none;
   border-top: none;
 }
 .btn--future:hover:after, .btn--future:hover:before {
   width: calc(100% - 30px);
   height: 80px;
   color: rgb(255, 255, 255);
   
 }
/* login */
/* icons */
.fa-home{
   background-color: rgba(214, 143, 155, 0.425);
}




/* 
on scroll remove navbar background 
make link fixed to top of window
rome particles 
remove glow
serif -heading
sans serif -body



Add a footer



*/

/* navbar
flexbox across the page





*/
