.photos {
    height: 200px;
    width: 300px;
    padding: 10px;
}

.pink {
    float: right;
    font-size: 30px;
    padding-top: 10px;
    color: white;
    opacity: .4;
}

.pink:hover {
    color: #FF69B4;
    opacity: 1;

}